{% extends 'university/base.html' %}

{% block content %}
    <h2>Ведомость успеваемости</h2>
    <hr>
    
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Студент</th>
                <th>Предмет</th>
                <th>Семестр</th>
                <th>Оценка / Награда</th>
            </tr>
        </thead>
        <tbody>
            {% for progress in progresses %}
            <tr>
                <td>{{ progress.student.name }}</td>
                <td>{{ progress.subject.name }}</td>
                <td>{{ progress.term }}</td>
                <td><strong>{{ progress.prize }}</strong>
                    {% if request.user.teacher or request.user.is_superuser %}
                        <a href="{% url 'edit-grade' progress.id %}" class="btn btn-sm btn-outline-primary ms-3">✏️
                            Изменить</a>
                    {% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Данных об успеваемости пока нет.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}